{{! Maintainers - Learning Pool}}
<div class="component__inner opentextinput__inner">
  {{> component this}}
  <div class="component__widget opentextinput__widget">
    <div class="opentextinput__count-characters">
      <div class="opentextinput__count-characters-container"><span
          id="input-info" class="opentextinput__count-amount"></span></div>
    </div>

    <div class="opentextinput__answer-container">
      <textarea class="opentextinput__item-textbox" placeholder="{{placeholder}}" maxlength="{{_allowedCharacters}}" aria-describedby="input-info">{{userAnswerString}}</textarea>
    </div>
    <div class="opentextinput__item-modelanswer opentextinput__item-textbox">{{{modelAnswer}}}</div>
    <div class="btn__container">
    </div>
  </div>
</div>
